/* @override http://localhost/wp-content/themes/bioethics/css/global.css
	http://bio.local/wp-content/themes/bioethics/css/global.css
	http://bioethics/wp-content/themes/bioethics/css/global.css
	http://www.bioethics.net/wp-content/themes/bioethics/css/global.css */

/* @group Tags */
html,
body, 
#global-wrap {
  min-width: 1000px;
}
html,body{height: 100%;}
#global-wrap {
	min-height: 100%;
  background: url(../images/bg-watermark.png) no-repeat center bottom;
}

html{
	background: #eaeaea url(../images/bg-html.png) top center repeat-y;
}
body{
	background: url(../images/bg-body.png) repeat-x center top transparent;
	text-align: center;
}

a, a:active, a:visited { 
	color: #131e58; 
	text-decoration: none;
}
a:hover { color: #6f99dc; }
p a{
	color: #6f99dc;
}
p a:hover{
	text-decoration: underline;
}
@font-face {
	font-family: 'FrancoisOneRegular';
	src: url('../fonts/FrancoisOne-webfont.eot');
	src: url('../fonts/FrancoisOne-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FrancoisOne-webfont.woff') format('woff'),
	url('../fonts/FrancoisOne-webfont.ttf') format('truetype'),
	url('../fonts/FrancoisOne-webfont.svg#FrancoisOneRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body, select, input, textarea {  
  color: #414042; 
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
p, td{
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
p:last-child {
  margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6,#primary-nav a,p.more a,div.journal-detail ul li{ 
	font-weight: normal;
	font-family: 'FrancoisOneRegular', Impact, Haettenschweiler, "Arial Narrow Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
	text-shadow: #fffeff 1px 1px 0;
}
h2{
	text-transform: lowercase;
}


h2.rss, h2.title {
	font-size: 24px;
	font-size: 2.4rem;
	margin-bottom: 1em;
}
h2.rss a, h2.title a{
	color: #414042;
}
h2.rss img{
	margin: 0 5px -2px 0;
}

h3{
	color:#131e58;
	line-height: 1em;
	text-transform: uppercase;
	margin-bottom: .5em;
}
h4{
	line-height: 1em;
	text-transform: uppercase;
	margin-bottom: .5em;
	color: #6f99dc;
}
h5{
	line-height: 1.5em;
	text-transform: uppercase;
	margin-bottom: .5em;
	color: #75a937;
}
input,textarea{
	border:  1px solid #999;
	padding:  5px;
	background-color:  #fcfcfc;
}
input.button{
	background-color: #77aa3a;
	margin:  5px;
	color:  #fff;
	border:  2px outset #999;
}
a.button {
	background: url(../images/bg-button.png) no-repeat;
	color: #FFF;
	display: block;
	font-family: 'FrancoisOneRegular', Impact, Haettenschweiler, "Arial Narrow Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	height: 34px;
	line-height: 2.8em;
	padding-left: 47px;
	text-shadow: #000 0px 0px 2px;
	text-transform: uppercase;
	width: 178px;
}
em {
  font-style: oblique;
}
/* @end */

/* @group Classes
 */

div.list h4{
	color: #131e58;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 2em;
}
div.list h5{
	font-size: 15px;
	font-size:  1.5rem;
	line-height: 1.25em;
	color: #414042;
	text-transform: uppercase;
	margin-bottom: .5em;
}
div.list h5 span {
  text-transform: none;
  line-height: 1em;
}
div.list h6{
	font-size: 15px;
	font-size:  1.5rem;
	line-height: 1em;
	margin-bottom: 1.5em;
}
d
div.list h6.title{
	text-transform: uppercase;
}

div.list h6.title a{
/*	text-decoration: none;*/
  text-transform: uppercase;
}

.container{
	width: 980px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

div.content{
	margin-top: 40px;
	min-height: 525px;
	overflow: hidden;
}
.section{
	overflow: hidden;
	margin-bottom: 50px;
}
p.more a{
	text-decoration: none;
	color: #75a937;
	text-transform: uppercase;
}

/* @end */

/* @group Layout */

#wrapper{
	padding-bottom: 250px;
}

/* @group Header */

#header, #header .container{
	height: 304px;
}
div#header .container {
	z-index: 1000;
}
#header{
  background: transparent url(../images/bg-nav.png) no-repeat center 220px;
}
#header h1{
	position: absolute;
	left: 20px;
	top: 157px;
}
#header h1 a{
	position: absolute;
	width: 186px;
	height: 148px;
	background-image: url(../images/logo.png);
	z-index: 2;
}
#header h2{
	position: absolute;
	left: 195px;
	top: 169px;
}
#header h2 a{
	position: absolute;
	width: 187px;
	height: 41px;
	background-image: url(../images/tagline.png);
	z-index: 2;
}
#ad{
	padding-top: 22px;
	text-align: left;
	height: 143px;
	white-space: nowrap
}
#ad div {
	float: left;
	height: 90px;
	width: 728px;
	background-color: #ccc;
	margin-right: 1px !important;
}
#ad img {
	margin: 0 1px 0 0; 
	padding: 0;
}
.banner-ad{
	margin-bottom: 45px; /*half ad height*/
	text-align: center;
	width: 100%;
}
#header input#s.field{
	background: transparent;
	border-width: 0;
	padding: 0x;
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	color: #585858;
	text-transform: lowercase;
	width: 135px;
	line-height: 1em;
	height: 15px;
}
#header .search-box{
	float: right;
	background: url(../images/bg_search.png) right top no-repeat;
	width: 190px;
	height:  27px;
}
#header .search-box form{
	margin-left: 10px;
	margin-top: 4px;
	height: 27px;
	position:  relative;
}
#header .search-box input.button{
	background-color: transparent;
	border: none;
	width: 30px;
	height: 20px;
	margin: 0;
	display: block; 
	text-indent: -999em; 
	overflow: hidden; 
	direction: ltr;
	position: absolute;
	right:  0;
	top: 0;
}

/* @end */

/* @group Primary Nav */

#primary-nav{
	margin-left: 195px;
	margin-top: 55px;
	position: absolute;
	z-index: 3;
}
#primary-nav ul{
	list-style: none;
	margin: 0;
	width: 790px;
}
#primary-nav li{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin: 0;
	padding: 0;
	height: 35px;
}
#primary-nav li a{
	display: block;
	padding: 7px 24px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	font-size: 1.6rem;
	text-shadow: #6181b4 -1px -1px 0;
}
#primary-nav li.active{

}
#primary-nav li.journal-active a{
	text-shadow: 1px 1px 0 #6181b4;
	background: url(../images/bg-nav-journal.png) repeat-x left top transparent;
}
#primary-nav li a:hover,#primary-nav li.current_page_item a:hover{
	color: #EAEAEA;
}
#primary-nav li.current_page_item a,
#primary-nav li.current-menu-item a,
body.single-post #primary-nav li.current_page_parent a,
body.single-events #primary-nav li.menu-item-24330 a,
body.single-jobs #primary-nav li.menu-item-30331 a,
body.single-issues #primary-nav li#menu-item-24331 a,
body.tax-editions #primary-nav li#menu-item-24331 a,
body.page-template-submit-job-php li.menu-item-30331 a,
body.page-template-submit-event-php li.menu-item-24330 a,
#primary-nav li.current-page-ancestor{
	background: transparent url(../images/bg-nav-selected.jpg) repeat-x left top;
}
body.journal-active #primary-nav li.current_page_item a{
	background: none;
}
#primary-nav li.current_page_item a:hover{
	color: #fff;
}

/* @end */

/* @group Journal Nav */

#nav-journals{
	position: absolute;
	left: 196px;
	width: 790px;
	height: 300px;
	-webkit-border-radius: 0 0 12px 12px; 
	-moz-border-radius: 0 0 12px 12px; 
	border-radius: 0 0 12px 12px; 
	
	-webkit-box-shadow: 0px 2px 6px #999999; 
	-moz-box-shadow: 0px 2px 6px #999999; 
	box-shadow: 0px 2px 6px #999999; 
	
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	
	top: 255px;
	z-index: 1;
	background: #fff url(../images/bg-body.png) repeat-x 0 -255px;
	overflow: hidden;
}

html.lt-ie9 #nav-journals{
	border: 1px solid #77787B;
}

#nav-journals div.close{
	position: absolute;
	right: 0;
	bottom: 250px;
	width: 60px;
	height: 35px;
	z-index: 10;
}
#nav-journals div.close a{
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 18px;
	text-transform: lowercase;
}
#nav-journals > ul{
	margin: 0;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 300px;
	list-style: none;
	z-index: 1;
}
#nav-journals > ul > li {
	width: 263px;
	height: 300px;
	float: left;
}
#nav-journals li div.journal-detail{
	margin: 0;
	width: 263px;
	padding-top: 40px;
	height: 260px;
}
#nav-journals li div.journal-detail h3{
	text-decoration: underline;
	margin-bottom: 5px;

}
#nav-journals li div.journal-detail h4{
	font-size: 12px;
	text-transform: capitalize;
	margin-bottom: 4px;
}
#nav-journals li div.journal-detail ul{
	width: auto;
	height: auto;
}
#nav-journals li div.journal-detail li{
	font-size: 11px;
}
#nav-journals li div.journal-detail.last{
	width: 264px;
}

#nav-journals li#link-ajob div.journal-detail:hover{
	-webkit-border-radius: 0 0 0 12px; 
	-moz-border-radius: 0 0 0 12px; 
	border-radius: 0 0 0 12px; 
}
#nav-journals li#link-ajob_pr div.journal-detail:hover{
	-webkit-border-radius: 0 0 12px 0; 
	-moz-border-radius: 0 0 12px 0;
	border-radius: 0 0 12px 0;
}
#nav-journals li div.journal-detail:hover{
	background: #dee8f7 url(../images/bg-body.png) repeat-x 0 -255px;
}
#nav-journals li li{
	width: auto;
}

/* @end */

/* @group Secondary Nav */

div#secondary-nav{
	position: absolute;
	bottom: 12px;
	width: 100%;
}
div#secondary-nav ul{
	list-style-type: none;
	text-align: right;
}
div#secondary-nav ul li{
	display: inline;
	padding-left: 8px;
	border-left: 2px solid #131e58;
	line-height: 1em;
}
div#secondary-nav ul li:first-of-type {
	border-left-width: 0;
}
div#secondary-nav ul li#menu-item-39202{
	border-left-width: 0;
}
div#secondary-nav ul li a{
	font-family: 'FrancoisOneRegular', Impact, Haettenschweiler, "Arial Narrow Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 8px;
}
div#secondary-nav ul li.current_page_item a{
	color: #6f99dc;
}
div#nav-social{
	position: absolute;
	right: 0;
	bottom:  0;
	height: 24px;
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	color: #676767;
	background: transparent url(../images/social-icons.png) no-repeat right;
}
div#nav-social a{
	width:  23px;
	height:  22px;
	display: inline-block;
	vertical-align: bottom;
}
a#social-twitter,
a#social-rss{
	margin: 0 5px;
}
div.news-updated{
	position: absolute;
	left: 212px;
	bottom: 5px;
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	color: #414042;
	font-size: 14px;
	font-size: 1.4rem;
}
div#secondary-nav div.nav{
	position: absolute;
	bottom: 5px;
	left: 430px;
	width: 370px;
}

/* @end */

/* @group Footer */

#footer{
	background: #7FB939 url(../images/bg-footer.png) left bottom repeat-x;
	padding-bottom: 0;
	height: 280px;
	margin-top: -280px;
	/* padding-top: inherit; */
}
.footer-boxes {
	padding-top: 20px;
	height: 150px;
}
.footer-boxes ul{
	list-style: none;
	margin: 0;
	padding: 1em 0;
	overflow: hidden;
	color: #fff;
}
.footer-boxes ul li{
	float: left;
	width: 200px;
	height: 100px;
	padding: 0 21px 0 0;
	margin: 0 21px 0 0;
	border-right: 1px solid #fff;
}
.footer-boxes ul li#footer-news-0{
	border-width: 0;
	padding: 0;
}
.footer-boxes ul li#footer-news-1 h3{
	display: block;
	text-indent: -9999px;
	overflow: hidden;
}

.footer-boxes h3{
	color: #fff;
	text-shadow: none;
	font-size: 23px;
}
.footer-boxes h3 a{
	color: #fff;
}
.footer-boxes  a:hover{
	color: #e0e9f6;
}
.footer-boxes h6{
	line-height: .75em;
	text-shadow: none;
	/*text-transform: uppercase;*/

}
.footer-boxes h6 a{
	color: #fff;
	font-size: 10px;
	font-weight: bold;
}

li#footer-signup{
	margin-left: 0;
	padding-left: 0;
}
li#footer-signup a{
	display: block;
	font-size: 43px;
	line-height: 1;
	color: #fff;	
}
li#footer-signup a:hover{
	color: #e0e9f6;
}
li#footer-signup h3 a span{
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-weight: normal;
	text-transform: lowercase;
	font-size: 55px;
}
#footer-signup h3{
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 5px;
}
#footer-signup h3 span{
/*	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 30px;
	line-height: 1.5em;
	text-transform: none;*/
}
/*li#footer-signup input{
	background-color: #fff;
	padding: 3px;
	text-align: center;
	width: 80%;
	border: 1px solid #585858;
}*/
li#footer-signup h3 a{
	/* display: inline; */
	text-transform: none;
	font: oblique 26px "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	margin-top: 11px;
}
li#footer-signup a#footer-subscribe-button{
	display: block;
	width: 144px;
	height: 34px;
	background: transparent url(../images/btn-blue.png) left top no-repeat ;
	padding-top: 7px;
	text-align: center;
	font: 15px 'FrancoisOneRegular', Impact, Haettenschweiler, "Arial Narrow Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
}
li#footer-signup a#footer-subscribe-archive{
	font-size: 12px;
	display: block;
	text-align: right;
	width:50px;
	float: right;
	margin: -29px 0 0;
}
li.footer-events h5{
	color: #fff;
	text-shadow: none;
	font-size: 12px;	
	text-transform: capitalize;
	/*margin-top: 16px;*/
}
li.footer-events h6 a{
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	line-height: 1.2em;
}
li.footer-events, li#footer-jobs{
	border-right-width: 0;
}
li#footer-jobs h3{
	margin-bottom: 3px;
}
#job-count{
	float: left;
	margin-right: 10px;
	font-family: 'FrancoisOneRegular', Impact, Haettenschweiler, "Arial Narrow Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 48px;
	font-style: 4.8rem;
	line-height: 1;
}
#job-count a{
	color: #fff;
}
#job-count a:hover{
	color: #e0e9f6;
}
li#footer-jobs h6 {
	margin-top: .75em;
}
li#footer-jobs h6 a{
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1;
	font-weight: normal;
}
li#footer-books{
	margin-right: 0;
	padding-right: 0;
	border-right-width: 0;
	width: 250px;
}
li#footer-books img{
	float: left;
	margin-right: 15px;
}
li#footer-books a{
	color: #fff;
	text-decoration: underline;
}
li#footer-books a:hover{
	color: #e0e9f6;
}
.footer-links{
	text-align: center;
}
.footer-links ul{
	margin: 50px 0;
}
.footer-links li{
	display: inline;
}
.footer-links a{
	color: #fff;
	padding: 0 20px;
  	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: 1.2rem;
}

/* @end */

}

/* @group Hot Topics */

#hot-topics.col{
	width: 35%;
	margin-right: 0;
}

#hot-topics h2{
	margin-top: -2.25em;
}

#hot-topics ul{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 48%;
}
#hot-topics ul.column02{
	margin-left: 10px;
}

#hot-topics ul li{
	font-size: 11px;
	line-height: 1.25em;
	margin: 0 0 1em;
	color:  #999;
}
#hot-topics ul li img{
	vertical-align: baseline;
	margin: 0 3px;
}
#hot-topics ul li a{
	font-family: 'FrancoisOneRegular', Impact, Haettenschweiler, "Arial Narrow Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;

}
#hot-topics ul ul{
	float: none;
	width:  auto;
	display: none;

}
#hot-topics ul ul li{
	display: block;
	font-size: 9px;
	padding: 1em 0 0 1em;
	margin: 0;
}
#hot-topics ul ul li a{
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* @end */

/* @end */



/* @group Utilities */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* @end */

/* @group Gravity Forms */

label.gfield_label{
	text-align: right;
	padding:  3px 0;
}
li.gfield{
	border-bottom: 1px solid #eee;
	padding:  10px 0;
}
li.gfield  div.ginput_container input,
li.gfield  div.ginput_container textarea{
	padding:  3px;
}
#field_1_12 .ginput_container,
#field_2_13 .ginput_container {
	width: 370px;
	margin-left: 160px;
}

/* @end */