/* @override 
	http://localhost/wp-content/themes/bioethics/css/home.css
	http://bioethics/wp-content/themes/bioethics/css/home.css */

/* @group Home Blog */

#home div.feature{
	width: 73%;
	float: left;
}
#home div.feature div.col{
	float: left;
}
#home div.feature div.col1{
  width: 60%
}
#home div.feature div.col2{
  width: 38%
}
#home div.feature h3{
	font-size: 40px;
}
#home div.feature div.description p{
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 19px;
	line-height: 1.5em;
}
#home div.feature div.description:first-line{
	font-weight: bold;
}
#home div.feature div.excerpt{
	margin-left: 20px;
	font-size: 12px;
	line-height: 1.5em;
}
#home #blog div.list{
	float: left;
	width: 200px;
	/*margin-left: 40px;*/
	padding: 0 30px;
	border: 1px solid #77787b;
	border-width: 0 1px;
}
#home #blog div.list h5 {
	text-transform: none;
}

/* @end */


/* @group Slider */

div#journal-feature{
	position: relative;
	height: 335px;
	padding: 0 24px;
	overflow: hidden;
	background: transparent url(../images/slider-left.png) left top no-repeat;
}
div.journal-item{
  position: absolute;
	height: 275px;
	width:  600px;
}
div#journal-detail{
	height: 275px;
	padding: 30px 0;
	background: transparent url(../images/slider-bg.png) left top repeat-x;
}
div.journal-detail,div.journal-article{
	float: left;
}
div.journal-article{
	width: 320px;
	margin-left: 40px;
}
div.journal-detail{
	width: 235px;
	text-align: center;
}
div.journal-detail img{
	margin: 5px 0 20px;
	-moz-box-shadow: 0 0 6px #5a5a5a;
	-webkit-box-shadow: 0 0 6px #5a5a5a;
	box-shadow: 0 0 6px #5a5a5a;
	opacity: 1;
}
div.journal-detail ul{
	line-height: 1em;
	margin-left: 0;
}
div.journal-detail ul li{
	list-style: none;
	display: inline;
	font-size: 12px;
}
div.journal-detail ul li a.current{
	text-decoration: underline;
}
div.journal-detail ul li a.past{
	padding: 0 8px;
	margin: 0 5px;
	border-left: 1px solid #131e58;
	border-width: 0 1px;
}
div.journal-article h3{
	font-size: 16px;
	font-size: 1.6em;
	line-height: 1.25;

}
div.journal-article h5.author{
	text-transform: capitalize;
	margin: 1.25em 0;
}
div#journal-list{
	position: absolute;
	right: 0;
	top: 0;
	height: 335px;
	width: 300px;
	overflow: hidden;
}
div#journal-list{
	position: absolute;
	right: 0;
	top: 0;
	height: 335px;
	width: 320px;
	overflow: hidden;
}
div.journal-item-link{
	overflow: hidden;
	margin: 0;
	padding: 20px ;
	height: 71px;
	text-align: center;
	cursor: pointer;
}
div.journal-item-link h3{
	color: #fff;
	margin-top: 1em;
	text-shadow: #6181b4 -1px -1px 0;
}
div.journal-item-link h4{
	color: #dce4f0;
	text-shadow: #6181b4 -1px -1px 0;
}
div.journal-item-link.active h3{
	color: #152161;
	text-shadow: #fff -1px -1px 0;
}
div.journal-item-link.active h4{
	color: #6f99dc;
	text-shadow: #fff -1px -1px 0;
}
div#j-item1{
	background: transparent url(../images/slider-bg-side.png) top right no-repeat;
}
div#j-item2{
	background: transparent url(../images/slider-bg-side.png) no-repeat right center;
}
div#j-item3.journal-item-link{
	background: transparent url(../images/slider-bg-side.png) no-repeat right bottom;
	height: 72px;
}


div#j-item1.active{
	background: transparent url(../images/slider-right-active.png) top right no-repeat;
}
div#j-item2.active{
	background: transparent url(../images/slider-right-active.png) no-repeat right center;
}
div#j-item3.active{
	background: transparent url(../images/slider-right-active.png) bottom right no-repeat;
}

div.journal-item-link img{
	float: left;
	margin: 0 10px 0 0;
	-moz-box-shadow: 0 0 6px #232f5b;
	-webkit-box-shadow: 0 0 6px #232f5b;
	box-shadow: 0 0 6px #232f5b;
}

/* @end */

/* @group News */
#news.section{
	margin-bottom: 0;
	padding-bottom: 35px;
}
#news .col{
	width: 30%;
	float: left;
	margin-right: 20px;
}
#news div.list h5 {
	text-transform: none;
}
#news h6.title{
	margin-bottom: 1em;
}
#news h6.title span{
  font-style: oblique;
  color: #75a937;
  display: inline-block;
  font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 16px;
  font-size: 1.6rem;
}
#news .excerpt{
	margin-bottom: 1.75em;
}
#news .excerpt div,
#news .excerpt p {
	line-height: 1.5em;
}


/* @end */