/* @override 
	http://localhost/wp-content/themes/bioethics/css/journal.css
	http://bioethics/wp-content/themes/bioethics/css/journal.css */

/* @group Journal Global */
#journal h2.title{
	margin-bottom: 10px;
}
#journal h6.title{
	margin-bottom: 0.5em;
}
#journal h6.author{
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 17px;
	font-size:  1.7rem;
	line-height: 1.25em;
}
#journal .onecol{
	float: left;
	padding: 0 3.1%;
	width: 28%;
}
#journal .onecol.first{
	padding-left: 0;
}
/* @end */

/* @group Journal Current Issue Section */
#journal #current-issue{
	background-image: url(../images/bg-journal-header-ajob.png);
	height: 220px;
	margin-right: -5px;
}
#journal #current-issue.primary_research{
	background-image: url(../images/bg-journal-header-pr.png);
}
#journal #current-issue.empirical_bioethics{
	background-image: url(../images/bg-journal-header-eb.png);
}
#journal #current-issue.neuroscience{
	background-image: url(../images/bg-journal-header-ns.png);

}
/*#journal #current-issue .left{
	float: left;
}*/
.left{
	float: left;
}
.right{
	float: right;
}
.archive #pagination{
	display: inline-block;
	width: 100%;
}
.archive #pagination a{
	margin: 0;
}
#journal #current-issue-cover{
	margin: 25px 0 0 88px;
	width: 140px;
	text-align: center;
}
#journal #current-issue-cover img{
	width: 140px;
}
#journal #current-issue-details{
	margin: 40px 80px 0 36px;
	text-align: center;
	width: 270px;
}
#journal #current-issue-details h3{
	font-size: 20px;
	margin-top: 85px;
	text-shadow: none;
	text-transform: none;
}
#journal #current-issue-details h4{
	color: #414042;
	font-size: 17px;
	text-shadow: none;
}
#journal #current-issue ul{
	list-style: none;
	margin: 55px 60px 0 0;
	padding: 0;
}
#journal #current-issue ul.column02{
	margin-left: 10px;
}
#journal #current-issue ul li{
	color: #999;
	line-height: 1.7em;
}
#journal #current-issue ul li a{
	font-family: 'FrancoisOneRegular', Impact, Haettenschweiler, “Arial Narrow Bold”, Helvetica, “Helvetica Neue”, Arial, sans-serif;
	font-size: 14px;
	text-decoration: underline;
}
/* @end */

/* @group Journal Target Article and Editorial Article Sections */
#journal .target-article,.editorial-article{
	background-image: url(../images/bg-journal-target-articles.png);
	padding-top: 3.1%;
	padding-bottom: 3.1%;
}
#journal .target-article h4,#journal .editorial-article h4{
	font-size: 14px;
	margin-bottom: 15px;
}
#journal .target-article h3#featured-article-title,#journal .editorial-article h3#featured-article-title{
	font-size: 25px;
	font-size:  2.5rem;
}
#journal .target-article .onecol.list,#journal .editorial-article .onecol.list{
	min-height: 200px;
}
#journal .target-article .onecol.border,#journal .editorial-article .onecol.border{
	border-left: 1px solid #77787B;
}
#journal .target-articles .onecol,#journal .editorial-articles .onecol{
	border-left: 1px solid #77787B;
	margin: 25px 0;
}
#journal .target-article .onecol.first,#journal .editorial-article .onecol.first{
	border-left-width:0;
	padding-left: 3.1%;
	width: 25%;
}
#journal .target-article h3,#journal .editorial-article h3{
	font-size: 26px;
	font-size: 2.6rem;
}
.title span.author{
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
}
#journal .target-articles h6.author,#journal .editorial-articles h6.author{
	margin-bottom: 1.3em;
}
#journal .target-article.target-articles-01,#journal .editorial-article.editorial-articles-01{
	background-image: none;
	padding: 0;
}
#journal .target-article.target-articles-01 .title,#journal .editorial-article.editorial-articles-01 .title{
	text-shadow: none;
}
#journal .target-article.target-articles-01 .onecol,#journal .editorial-article.editorial-articles-01 .onecol{
	float: left;
	min-height: 300px;
	padding: 0 3.1%;
	width: 28%;
}
#journal .target-article.target-articles-01 .onecol.first,#journal .editorial-article.editorial-articles-01 .onecol.first{
	padding-left: 0;
}
#journal .target-article.target-articles-01 .onecol.list,#journal .editorial-article.editorial-articles-01 .onecol.list{
	min-height: 300px;
}
#journal .target-article.target-articles-01 .list,#journal .editorial-article.editorial-articles-01 .list {
	border-left: 1px solid #77787B;
	border-right: 1px solid #77787B;
	min-height: 300px;
}
#journal .target-article.target-articles-01 h3#featured-article-title,#journal .editorial-article.editorial-articles-01 h3#featured-article-title{
	font-size: 30px;
	font-size:  3rem;
}
/* @end */

/* @group In Focus, and Correspondence Sections */
#journal #bottom-section .excerpt p{
	margin-bottom: 0.5em;
}
#journal #bottom-section .onecol{
	border-left: 1px solid #77787B;
	float: left;
	min-height: 300px;
	padding: 0 3.1%;
	width: 28%;
}
#journal #bottom-section .onecol.first{
	border-left: none;
	padding-left: 0;
}
#journal #bottom-section .actions a,
#journal #bottom-section .actions span{
	color: #75A937;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
#journal #bottom-section h6.title{
	text-shadow: none;
}
#journal #bottom-section h6.title a{
	text-decoration: none;
}
#journal #bottom-section h6.title span{
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 14px;
	font-size:  1.4rem;
	line-height: 1.0em;
/*	margin-left:  10px;*/
}

#journal #bottom-section .item{
	margin-bottom: 1em;
}
/* @end */

/* @group Previous Journals Page */
#journals-previous .entry{
	float: left;
	height: 220px;
	min-height: 220px;
	margin-bottom: 25px;
	overflow-y: hidden;
	width: 50%;
}
#journals-previous .entry a.cover{
	display: block;
	float: left;
	width: 150px;
}
#journals-previous .entry a.cover h4{
	margin-top: 5px;
	text-align: center;
}
#journals-previous .entry .topic_list{
	float: left;
	margin-left: 15px;
	width: 300px;
}
#journals-previous .entry .topic_list h5{
	color: #131E58;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	margin-bottom: 15px;
	text-decoration: none;
	text-transform: none;
}
#journals-previous .entry .topic_list h5 a,
#journals-previous .entry .topic_list h5 a:active,
#journals-previous .entry .topic_list h5 a:visited{
	color: #131E58;
	text-decoration: none;
}
#journals-previous .entry .topic_list h5 a:hover{
	color: #6f99dc;
}
/* @end */

/* @group Single Journal Article */
body.single-articles h3.post-title{
margin-bottom: 0;
}
body.single-articles p.article_author{
	overflow: hidden;
	color: #666;
}
body.single-articles .info span.author{
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 18px;
	line-height: 1.0em;
	display: block;
	float: left;
	width: 75%;
	margin-top: 5px;
}
body.single-articles .post span.pages{
	display: block;
	float: right;
	width:  24%;
	text-align: right;
	font-size: 13px;
}
body.single-articles p.more a{
	color: #fff;
	text-shadow: -1px -1px 1px #42611d;
}
body.single-articles .social{
	margin-bottom: 75px;
}
body.single-articles #opt_detail{
	margin: 4em 0;
}
body.single-articles #opt_detail h3{	
	font-size: 24px;
	font-style: 2.4rem;
	margin-bottom: 20px;
	text-transform: lowercase;
	color: #414042;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 0;
	line-height: 1.5em;
}
body.single-articles #sidebar-article #article_meta{
	text-align: center;
}
body.single-articles #sidebar-article #article_meta a img{
	border: 5px solid #e0e0e0;
}
body.single-articles #sidebar-article h2.title a{
	text-transform: capitalize;
	font: oblique 28px "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
}
body.single-articles #sidebar-article h2.title{
	margin-bottom: .5em;	
	padding-bottom: 0;
	border-bottom: 1px solid #e0e0e0;
	margin-top: 2em;
}
body.single-articles #sidebar-article #article_meta h2.title{
	margin-top: 0;
}
body.single-articles #sidebar-article #article_meta ul{
	text-align: left;
	margin: 0;
	list-style: square;
}
body.single-articles #sidebar-article #article_meta ul li{
	margin-left: 1.5em;
	list-style: square;
}
body.single-articles #opt_detail ul{
	line-height: 1em;
	list-style: none;
	padding: 0;
	margin-left: 0;
}
body.single-articles #opt_detail ul li{
	margin-bottom: 1em;
}
body.single-articles #sidebar-article #article_meta ul li a,
body.single-articles #opt_detail ul li a{
	font-size: 16px;
	font-family: 'FrancoisOneRegular', Impact, Haettenschweiler, "Arial Narrow Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
}
body.single-articles #sidebar-article #article_meta ul li a{
	font-size: 18px;
}
body.single-articles #sidebar-article div.actions{
	display: none;
}

.widget_utcw {
	overflow: hidden;
}
.widget_utcw span {
	/*white-space: nowrap;*/
	line-height: 1.15em;
	vertical-align: middle;
}
/* @end */